{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body %}
    <section id="hero-banner">
        <h1>Reformed Family eSport Club</h1>
        <h2>LE NOUVEAU CHALLENGER MADE IN FRANCE</h2>
    </section>
    <section id="index-presentation">
        <div class="container">
            <h2>Qui sommes nous ?</h2>
            <p>Créer en 2019, la Reformed Family est un club d'eSport qui a pour objectif de se professionnaliser dans les prochaines années.
    Notre équipe est bien plus que ça, une famille, des joueurs soudés qui vont tous dans la même direction et qui sont passionnés avant tout.
    L'eSport est pour nous l'avenir des compétitions haut niveau, c'est pour cela qu'à l'aide de nos partenaires nous visons les sommets
    et comptons sur vous pour nous soutenir dans l'avenir et réaliser de GRANDE chose !</p>
        </div>
    </section>
    <section id="plannings">
        <h2>Prochain Matchs</h2>
        {% for match in plannings %}
            <div class="match">
                <div class="game planning">
                    <p>{{ match.equipe }}</p>
                </div>
                <div class="teams planning">
                    <p>Reformed Family <span class="versus"> VS </span> {{ match.opponent }}</p>
                </div>
                <div class="matchday planning">
                    <p>{{ match.date|date('d/m/Y à H:i:s') }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
    <section id="home-article">
        <h2>Les derniers articles</h2>
        <div class="swiper container">
            <div class="swiper-wrapper">
                {% for article in articles %}
                    <article class="swiper-slide slide-index-article">
                        <div class="article-img">
                            <img src="{{ asset('uploads/img/')}}{{ article.image }}" alt="{{ article.title }}">
                        </div>
                        {% for game in article.equipe %}
                            <span class="game-cat">{{ game.game }}</span>
                        {% endfor %}
                        <a href="{{ path('article_show', {id:article.id})}}">
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.resume }}</p>
                        </a>
                    </article>
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
    <section id="home-partenaire">
        <h2>Nos partenaires</h2>
            <div class="partenaires container">
                <div class="partenaire-img">
                    <img src="{{ asset('img/NBlogo.png') }}" alt="Logo de NewBalance, partnaire de Reformed Family eSport Club">
                </div>
                <div class="partenaire-img">
                    <img src="{{ asset('img/PEUGEOTlogo.png') }}" alt="Logo de Peugeot, partnaire de Reformed Family eSport Club">
                </div>
                <div class="partenaire-img">
                    <img src="{{ asset('img/roglogo.png') }}" alt="Logo de ROG, partnaire de Reformed Family eSport Club">
                </div>
            </div>
    </section>
    <section id="bouton-equipe">
        <div class="bouton">
            <h2><a href="{{ path('equipe_index')}}">
                Découvrez les équipes</a>
            </h2>
        </div>
    </section>
{% endblock %}
