{% extends 'base.html.twig' %}

{% block title %}Se connecter ! {{ parent() }}{% endblock %}

{% block body %}
<div class="container container-login">
        <form method="post" class="form-login">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="login-connected">
                <p>Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a></p>
                <p><a href="{{ path('user_edit') }}">Modifier mon profil</a> ou <a href="{{ path('user_password_edit', {id:app.user.id} ) }}">Changer mon mot de passe</a></p>
                <p>Email : {{ app.user.email }}</p>
            </div>
        {% else %}
        <h1>Connectez vous !</h1>
        <label for="inputUsername">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn-connection" type="submit">
            Se connecter
        </button>
        </form>
        <a class="forgot-pass" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
        {% endif %}
    {% if app.user %}
    {% else %}
    <div class="create-account">
        Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Créez en un ici</a>
    </div>
    {% endif %}
</div>
{% endblock %}
