{% extends 'base.html.twig' %}

{% block title %}Contact {{ parent() }}{% endblock %}

{% block body %}
<section id="contact-partenaire">
        <h2>Ils sont déjà partenaires</h2>
        <div class="partenaires container">
            <div class="partenaire-img">
                <img src="{{ asset('img/NBlogo.png') }}" alt="Logo de NewBalance, partnaire de Reformed Family eSport Club">
            </div>
            <div class="partenaire-img">
                <img src="{{ asset('img/PEUGEOTlogo.png') }}" alt="Logo de Peugeot, partnaire de Reformed Family eSport Club">
            </div>
            <div class="partenaire-img">
                <img src="{{ asset('img/roglogo.png') }}" alt="Logo de ROG, partnaire de Reformed Family eSport Club">
            </div>
        </div>
</section>
<section id="contact-page">
<h2>Vous voulez rejoindre l'aventure ?</h2>
    {% for messages in app.flashes %}
    <p>
        {% for message in messages %}
            {{ message }}
        {% endfor %} 
    </p>
    {% endfor %}
    <div class="container contact-container">
    {{ form_start(form) }}
            {{ form_row(form.entreprise, {'attr': {'class': 'form-control'}, label: 'Entreprise'}) }}
            {{ form_row(form.mail, {'attr': {'class': 'form-control'}, label: 'Adresse mail'}) }}
            {{ form_row(form.message, {'attr': {'class': 'form-control'}, label: 'Votre message'}) }}
            {{ form_row(form.send, {'attr': {'class': 'btn-contact'}})}}
    {{ form_end(form) }}
    </div>

</section>
{% endblock %}
