<header class="main-header">
    <div class="container header-nav">
        <div class="hdr-logo">
            <a href="{{ path('app_index') }}">
                <img src="{{ asset('img/RF_Logo_Definitif.png') }}" alt="Logo de l'équipe Reformed Family">
            </a>
        </div>
        <a href="#" class="burger"><span class="burger-icon"></span></a>
        <nav class="menu-burger">
            <a class="hover-underline-animation" href="{{ path('article_index') }}">Actualités</a>
            <a class="hover-underline-animation" href="{{ path('equipe_index') }}">Equipes</a>
            <a class="hover-underline-animation" href="#">Devenir partenaire</a>
            <a class="hover-underline-animation" href="{{ path('app_login') }}"><ion-icon name="person-circle-outline"></ion-icon></i></a>
        </nav>
    </div>
</header>