<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=3" />
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        <title>{% block title %} - Reformed Family Esport Club{% endblock %}</title>
        <meta name="description" content="Bienvenu sur le site de la Reformed Family eSport Club, ici vous retrouverez toute l'actualité de l'équipe mais aussi des infos sur les prochains matchs et les joueurs de nos équipe LoL, Valorant, RL, CSGO !">
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet"> 
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {{ include('_header.html.twig') }}
        <main>
            {% block body %}{% endblock %}
        </main>
        {{ include('_footer.html.twig') }}
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
