{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} {{ parent() }}{% endblock %}

{% block body %}
<section id="article-show">
    <div class="container">
        <div class="article-show-img">
            <img src="{{ asset('uploads/img/')}}{{ article.image }}" alt="{{ article.title }}">
        </div>
        <div class="article-show-text">
            <h1>{{ article.title}}</h1>
            {{ article.content|raw }}
        </div>
        <div class="return-btn">
            <a href="{{ path('article_index') }}">Revenir aux articles</a>
        </div>
    </div>
</section>
<section id="article-commentaire">
    <div class="container">
    <h2>Vos réactions à cette article !</h2>
        {% for commentaire in commentaires %}
            {% if commentaire.article.id == article.id %}
                <div class="commentaire-box">
                    <p>{{ commentaire.author.getUserIdentifier }} :</p>
                    <p>{{ commentaire.content }}</p>
                    {% if commentaire.author == app.user %}
                        <a href="{{ path('delete_commentaire', { id:commentaire.id }) }}"><ion-icon name="trash"></ion-icon></a>
                        <a href="{{ path('edit_commentaire', { id:commentaire.id }) }}"><ion-icon name="create"></ion-icon></a>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        {% if app.user %}
            {% include('commentaire/add.html.twig') %}
        {% else %}
            <div class="be-connected">
                <p>Veuillez vous <a href="{{ path('app_login') }}">connecter</a> pour laisser un commentaire</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}