{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block body %}
<div class="container edit-user">
    {{ form_start(form, {'attr': {'id': 'new_edit_user', 'class': 'form-edit-user'}}) }}
        {{ form_row(form.ActualPassword, {label: 'Mot de passe actuel'}) }}
        {{ form_row(form.password, {label: 'Nouveau mot de passe'}) }}
        {{ form_row(form.password2, {label: 'Confirmation du mot de passe'}) }}
        <span></span>
        {{ form_row(form.Enregistrer, {'attr': {'class': 'btn-connection'}}) }}
    {{ form_end(form) }}
</div>
{% endblock %}
